# Configurações da sua Loja Yampi
# Obtenha em: Yampi Admin -> Configurações -> Credenciais de API
YAMPI_ALIAS=
YAMPI_USER_TOKEN=
YAMPI_USER_SECRET_KEY=

# GEMINI_API_KEY: Necessário para os recursos inteligentes com Inteligência Artificial
GEMINI_API_KEY=

